extends layout
block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(id='background')
  section
    article
      p Welcome Jak's Music store! We have a wide selction of music and instruments just for you!
